@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
body{
  text-align: center;
}
aside{
  float:right;
}
li{
  list-style-type: none;
}
.reservationForm{
  display: flex;
  flex-direction: column;
}
.mealBox{
  display: flex;
  flex-direction: row;
}
.navbar{
  margin-left: 25%;
  text-decoration-style: double;
  font-size: 30px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
